body {
  font-family: "Archivo", sans-serif;
  font-size: 120%;
  background-color: #e9e9e9;
}

a {
  color: rgb(134, 98, 7);
}

button {
  display: inline-block;
  margin: 9px;
  font-size: 100%;
  background-color: goldenrod;
  border-radius: 3px;
  padding: 11px 15px;
  color: white;
  transition: all 0.5s ease-in;
  padding-left: 50px;
  padding-right: 50px;
}

/* -----Go back button---- */
#back {
  display: inline-block;
  margin: 9px;
  font-size: 100%;
  background-color: goldenrod;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
  transition: all 0.5s ease-in;
}
#back:hover {
  background-color: #ade4a3;
  transition: all 0.5s ease-in;
}

/* ----clear highscores button---- */
#clear {
  display: inline-block;
  margin: 9px;
  font-size: 100%;
  background-color: goldenrod;
  border-radius: 3px;
  padding: 4px 10px;
  color: white;
  transition: all 0.5s ease-in;
}
#clear:hover {
  background-color: #ade4a3;
  transition: all 0.5s ease-in;
}

/*-----button styling---- */
button:hover {
  background-color: #ade4a3;
}

.choices button {
  display: block;
}

li {
  padding: 3px;
}

.wrapper {
  margin: 100px auto;
  max-width: 700px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 130%;
  margin-top: 15px;
  padding-top: 15px;
  color: rgb(29, 29, 29);
}

.timer {
  position: absolute;
  color: rgb(129, 93, 2);
  top: 10px;
  right: 10px;
}
